@model List<Solicitudes>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>


</div>


<div class="card">
	<div class="card-header">
		@ViewBag.Accion
	</div>
	<div class="card-body">

		<a asp-action="CrearSolicitudes" asp-controller="CreacionSolicitud" asp-route-Id="0" class="btn btn-success btn-sm">Nuevo Solicitud</a>

		<hr />


		<form asp-action="FiltrarPorEstado" asp-controller="CreacionSolicitud" method="post">
			<select name="estado" class="form-control" style="width: 200px; display: inline-block;">
				
				<option value="AP">APROBADO</option>
				<option value="PE" >PENDIENTE</option>
				<option value="RE">RECHAZADO</option>
			</select>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
		
		
		<hr />

		@if (Model != null && Model.Any())
		{

		<table class="table">
			<thead>
				<tr>
					<td>Codigo</td>
						<td>Descripcion</td>
					<td>Monto</td>
					<td>Fecha</td>
					<td>Estado</td>
						<td>Solicitante</td>
					 <td>Comentarios</td> 
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Descripcion</td>
							@* <td>@item.Monto</td> *@
							<td>@item.Monto.ToString("C")</td>
							<td>@item.FechaEsperada</td>
							<td>
								@if (item.Estado == "PE")
								{
									<span class="badge bg-danger">Solicitud Pendiente</span>
								}
								else if (item.Estado == "RE")
								{
									<span class="badge bg-danger">Solicitud Rechazada</span>
								}
								else if (item.Estado == "AP")
								{
									<span class="badge bg-success">Solicitud Aprobada</span>
								}
							</td>
							<td>@item.Solicitante</td>
							<td>@item.Comentario</td>
					@* 	<td>

								<a asp-action="Solicitudes" asp-controller="Home" asp-route-IdProducto="@item.Id" class="btn btn-primary btn-sm">Editar Producto</a>
								<a asp-action="EliminarSolicitudes" asp-controller="Home" asp-route-IdProducto="@item.Id" class="btn btn-danger btn-sm">Eliminar Producto</a>


						</td> *@
					</tr>
				}
			</tbody>
		</table>
		}

		</div>
</div>















